.container{
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    
}

.wrapper > h2{
    font-weight: bold;
    font-size: 36px;
    white-space: nowrap;
}

.wrapper > p{
    font-size: 28px;
    font-weight: 500;
    color: #333;
}

.wrapper > span{
    font-size: 24px;
    color: #555;
}
.font{
    font-size: 50px;
}

.but{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: green;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: orange;
    cursor: pointer;
    transition: 100ms ease-in-out;
    font-weight: 900;
}

.but:hover{
    background: green;
    color: orange;
    scale: 1.1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}